/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

a {
  @apply font-bold;
  @apply text-success-900-50-token;
}

a:hover {
  @apply underline;
  @apply text-tertiary-500;
}

h1 {
  @apply h1;
  @apply mb-4;
}

h3 {
  @apply h3;
}

p {
  @apply my-3;
}
